{% if templates %}
    <h3>HTML Templates</h3>
    <ul>
    {% for template in templates %}
        {% if subdirectory %}
            <li><a href="{% url 'comp' slug=template directory_slug=subdirectory %}">{{ template }}</a></li>
        {% else %}
            <li><a href="{% url 'comp' slug=template %}">{{ template }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% if directories %}
    <h3>Subdirectories</h3>
    <ul>
    {% for directory in directories %}
        {% if subdirectory %}
            <li><a href="{% url 'comp' slug=directory directory_slug=subdirectory %}">{{ directory }}</a></li>
        {% else %}
            <li><a href="{% url 'comp' slug=directory %}">{{ directory }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% if subdirectory %}
    <a style="text-decoration:none" href="{% url 'comp-listing' %}"><button type="button">Back</button></a>
{% endif %}
{% if not subdirectory %}
    <a style="text-decoration:none" href="{% url 'export-comps' %}"><button type="button">Export to Zip</button></a>
    <small><em>Download a zipfile of all rendered templates for distribution</em></small>
{% endif %}
